html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    // Общепринятые правила для скрола на мелких экаранах 
    overflow-x: hidden;
    min-width: 320px;
  }

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
  }